# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

#immediat files
*.sdf
*.suo
*.vcxproj.user
*.obj
*.aps
*.log
*.txt

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Recycle Bin used on file shares
$RECYCLE.BIN/
$Debug/
/trunk/build/VS2015/.vs
/trunk/build/VS2015/Debug
/trunk/build/VS2015/Release
/trunk/build/VS2015/blackconfigurator/Debug
/trunk/build/VS2015/blackconfigurator/Release
/trunk/build/VS2015/test/Debug
/trunk/build/VS2015/test/Release

